[Desktop Entry]
Name=Wiki / Help
Comment=PantherX Wiki
Exec=px-desktop-wiki
Icon=px-help
Terminal=false
Type=Application
Categories=PX-About;
OnlyShowIn=LXQt;
MimeType=x-scheme-handler/px-desktop-wiki;